/*
    EQUIPMENT WEBPAGE STYLESHEET -- Styling for the "equipment" webpage of website
*/

@import url("theme_colors.css");

#doc-body {
    /* Defines the main body of the document */
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#doc-footer {
    display:flex;
    align-content: center;
    margin-top: 20vh;
}

#doc-title {
    margin-top: 10vh;
    font-family: lato;
    font-size: 3rem;
    color: var(--primary-accent-color);
}

#doc-description-1 {
    margin-top: 15vh;
    margin-right: 3vw;
    font-family: lato;
    font-size: 1.5rem;
    color: var(--primary-text-color);
    width: 35%;
    line-height: 2rem;
}

#equipment-img {
    margin-top: 10vh;
}

#equipment-img img {
    border-radius: 150px;
    border: 5px solid var(--primary-accent-color);
    width: auto;
}

#doc-description-2 {
    font-family: lato;
    color: var(--primary-text-color);
    font-size: 1.5rem;
    margin-top: 10vh;
    line-height: 150%;
}

#table-saw-img img {
    border-radius: 150px;
    border: 5px solid var(--primary-accent-color);
    width: 40rem;
}

#table-saw-img {
    margin-top: 13vh;
}