/*
    HOMEPAGE CSS -- This has all da styling for index.html, the homepage.
*/

.doc-body {
    /* Defines the main body of the document */
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.doc-filler {
    /* Settings for document filler that separates navbar from content */
    height: 20vh;
    width: 1280px;
}

.metalworking-img > img {
    /* Settings of metalworker img */
    height: 330px;
    border-radius: 120px;
}

.doc-title {
    /* Company motto thingy */
    font-family: lato;
    font-size: 2.5rem;
}

body {
    background-image: url(images/circuit_bg.jpg);
    background-repeat: repeat;
}