/*
    DEFAULT NAVBAR SETUP -- INCLUDE ON EVERY WEBPAGE!
*/

@import url(theme_colors.css);

:root {
    /* Variables */
    --navlink-text-color: #ffffff;
}

body {
    /* Center body */
    max-width: 1280px;
    margin: auto;
    background-image: url("images/circuit_board_bg.webp");
}

.nav-list {
    /* Random navbar stuff */
    margin:0;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    /* Padding/settings of navigation items */
    list-style: none;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    transition: all 100ms ease-in;
    border-radius: 25px;
}

.nav-item:hover {
    /* Change color when hovering on link */
    background-color: var(--secondary-accent-color);
}

.nav-item a {
    /* Changing color and deco of links */
    text-decoration: none;
    color: var(--navlink-text-color);
    font-size: 1.3rem;
    font-family: lato;
}

.nav-item:first-child {
    /* Put the logo on the far left of navbar */
    margin-right: auto;
}

.flex-break {
    width: 100%;
    height: 0px;
}